
@model List<Order>

@if (Model.Count == 0)
{
    <section class="p-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="error-section">
                        <h2>You have no orders set at that moment</h2>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-solid">back to home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else {

<!-- order-detail section start -->
<section class="section-b-space">
    <div class="container">
        @foreach (var order in Model)
        {
            <div class="row ">
                <div class="col-lg-6">
                    <div class="product-order">
                        <h3>Order No : @order.orderId</h3>
                        @foreach (var item in order.orderDetails.orderedItems)
                        {
                            <div class="row product-order-detail">
                                <div class="col-3">
                                    <img src="@string.Format("/UploadedFiles/Images/BookItemsImages/{0}", item.bookItem.bookItemImageName)" alt="" class="img-fluid blur-up lazyload">
                                </div>
                                <div class="col-3 order_detail">
                                    <div>
                                        <h4>product name</h4>
                                        <h5>@item.bookItem.bookItemName</h5>
                                    </div>
                                </div>
                                <div class="col-3 order_detail">
                                    <div>
                                        <h4>quantity</h4>
                                        <h5>@item.totalItemQuantity</h5>
                                    </div>
                                </div>
                                <div class="col-3 order_detail">
                                    <div>
                                        <h4>price</h4>
                                        <h5>@item.totalItemPrice EGP</h5>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="total-sec">
                            <ul>
                                <li>subtotal <span>@order.orderDetails.totalPrice EGP</span></li>
                                <li>shipping <span>20 EGP</span></li>
                            </ul>
                        </div>
                        <div class="final-total">
                            <h3>total <span>  @order.orderDetails.totalPrice EGP</span></h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row order-success-sec">
                        <div class="col-sm-6">
                            <h4>summery</h4>
                            <ul class="order-detail">
                                <li>order for Mr/s: @order.orderDetails.firstName @order.orderDetails.lastName</li>
                                <li>Contact number: @order.orderDetails.phoneNumber</li>
                                <li>Ordered on: October 22, 2018</li>

                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h4>shipping address</h4>
                            <ul class="order-detail">
                                <li>Country : @order.orderDetails.country</li>
                                <li>City : @order.orderDetails.city</li>
                                <li>Address: @order.orderDetails.address</li>
                                <li>Department No : @order.orderDetails.departmentNo</li>
                            </ul>
                        </div>
                        <div class="col-sm-12 payment-mode">
                            <h4>payment method</h4>
                            <p>
                                @order.orderDetails.payementType
                            </p>
                        </div>
                        <div class="col-md-12">
                            <div class="delivery-sec">
                                <h3>expected date of delivery</h3>
                                <h2>october 22, 2018</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br /> <br /><br /> <br />
            <div class="divider py-1 bg-dark"></div>
            <br /><br /> <br /><br />
        }
    </div>
</section>
<!-- Section ends -->
 }