@model DetailsPageViewModel

    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>product</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">product</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->

    <!-- section start -->
    <section>
        <div class="collection-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="product-slick">
                            @*images loop for the product*@
                            <div>
                                 <img src="@string.Format("/UploadedFiles/Images/BookItemsImages/{0}",Model.bookItem.bookItemImageName)" alt=""
                                     class="img-fluid blur-up lazyload image_zoom_cls-0">
                            </div>
 


                        </div>
                        <div class="row">
                            <div class="col-12 p-0">

                                @*SLider loop for books images *@

                                @*<div class="slider-nav">
                                    <div>
                                        <img src="~/WebsiteAssets/images/pro3/1.jpg" alt=""
                                             class="img-fluid blur-up lazyload">
                                    </div>
                                    <div>
                                        <img src="~/WebsiteAssets/images/pro3/2.jpg" alt=""
                                             class="img-fluid blur-up lazyload">
                                    </div>
                                    <div>
                                        <img src="~/WebsiteAssets/images/pro3/27.jpg" alt=""
                                             class="img-fluid blur-up lazyload">
                                    </div>
                                    <div>
                                        <img src="~/WebsiteAssets/images/pro3/27.jpg" alt=""
                                             class="img-fluid blur-up lazyload">
                                    </div>
                                </div>*@


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="product-right product-description-box">
                            <h2>@Model.bookItem.bookItemName</h2>
                            <div class="border-product">
                                <h6 class="product-title">Book''s details</h6>
                                <p>
                                    Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore
                                    veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam
                                    voluptatem,
                                </p>
                            </div>
                            <div class="single-product-tables border-product detail-section">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Category:</td>
                                            <td>@Model.bookItem.bookCategory.bookCategoryName</td>
                                        </tr>
                                        <tr>
                                            <td>Author:</td>
                                            <td>authnamevalue</td>
                                        </tr>
                                        <tr>
                                            <td>Collection:</td>
                                            <td>collectionname</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="border-product">
                                <h6 class="product-title">share it</h6>
                                <div class="product-icon">
                                    <ul class="product-social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                    <form class="d-inline-block">
                                        <button class="wishlist-btn">
                                            <i class="fa fa-heart"></i><span class="title-font">Add To WishList</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="border-product">
                                <h6 class="product-title">100% SECURE PAYMENT</h6>
                                <div class="payment-card-bottom">
                                    <ul>
                                        <li>
                                            <a href="#"><img src="~/WebsiteAssets/images/icon/visa.png" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="~/WebsiteAssets/images/icon/mastercard.png" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="~/WebsiteAssets/images/icon/paypal.png" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="~/WebsiteAssets/images/icon/american-express.png"
                                                     alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="~/WebsiteAssets/images/icon/discover.png" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="product-right product-form-box">
                   
                            <h3>@Model.bookItem.purchasePrice EGP</h3>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                            <div class="product-description border-product">
                              
                                <h6 class="product-title">quantity</h6>
                                <div class="qty-box">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <button type="button"
                                                    class="btn quantity-left-minus" data-type="minus" data-field="">
                                                <i class="ti-angle-left"></i>
                                            </button>
                                        </span>
                                        <input type="text" name="quantity" class="form-control input-number" value="1">
                                        <span class="input-group-prepend">
                                            <button type="button"
                                                    class="btn quantity-right-plus" data-type="plus" data-field="">
                                                <i class="ti-angle-right"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-buttons">
                                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.bookItem.bookItemId"
                                   class="btn btn-solid">add to cart</a>
                                <a href="#" class="btn btn-solid">buy now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->

    <!-- product-tab starts -->
    <section class="tab-product m-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="top-home-tab" data-toggle="tab"
                               href="#top-home" role="tab" aria-selected="true">Long Description</a>
                            <div class="material-border"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-top-tab" data-toggle="tab"
                               href="#top-profile" role="tab" aria-selected="false">Details</a>
                            <div class="material-border"></div>
                        </li>
          
                    </ul>
                    <div class="tab-content nav-material" id="top-tabContent">
                        <div class="tab-pane fade show active" id="top-home" role="tabpanel"
                             aria-labelledby="top-home-tab">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book. It has survived not only
                                five centuries, but also the leap into electronic typesetting, remaining essentially
                                unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                containing Lorem Ipsum passages, and more recently with desktop publishing software like
                                Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <div class="single-product-tables">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Febric</td>
                                            <td>Chiffon</td>
                                        </tr>
                                        <tr>
                                            <td>Color</td>
                                            <td>Red</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>Crepe printed</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Length</td>
                                            <td>50 Inches</td>
                                        </tr>
                                        <tr>
                                            <td>Size</td>
                                            <td>S, M, L .XXL</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                         </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product-tab ends -->
    <!-- product section start -->
    <section class="section-b-space ratio_asos">
        <div class="container">
            <div class="row">
                <div class="col-12 product-related">
                    <h2>related products</h2>
                </div>
            </div>

                <div class="row search-product">
                    @foreach (var relatedItem in Model.relatedBookItems)
                    {
                        <partial name="_xsmallBookItemBox" model="@relatedItem" />
                        
                    }
                </div>
            
            </div>
</section>
    <!-- product section end -->
  